@use '../../../style';
.card {
    width: style.$card-width;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    .card-icons {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        gap: 10px;
    }

    .icon {
        width: style.$icon-size;
        height: style.$icon-size;
        cursor: pointer;
        color: style.$text-color;
        transition: color 0.3s;

        &:hover {
            color: style.$primary-color;
        }
    }

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: 15px;
        text-align: center;
    }

    .card-title {
        font-size: style.$title-font-size;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-description {
        font-size: style.$description-font-size;
        color: style.$text-color;
        margin-bottom: 15px;
    }

    .card-price {
        font-size: style.$price-font-size;
        color: style.$primary-color;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-button {
        display: inline-block;
        padding: 10px 20px;
        background: style.$primary-color;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: style.$button-font-size;
        &:hover {
            background: style.$hover-color;
        }
    }
}