*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'poppins', sans-serif;
    /* font-family: "Lato", sans-serif; */
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    /* color: rgba(255, 255, 255, 0.87); */
    /* background-color: #242424; */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    /* padding: 2rem; */
    text-align: center;
}

.g-8 {
    column-gap: 8px;
}

.gap-8 {
    column-gap: 8px;
}

.d-flex {
    display: flex;
    align-items: center;
}

.gap-5{
    gap: 5px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom-navigation-bar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
    bottom: 12px;
    box-shadow: drop-shadow(0px 1px 3px rgba(0, 0, 0, .5)) drop-shadow(inset 0px 0px .5px rgba(255, 255, 255, .3)) drop-shadow(0px 3px 8px rgba(0, 0, 0, .35)) drop-shadow(inset 0px 1px 0px rgba(255, 255, 255, .08));
}

.bottom-navigation-bar-item {
    width: fit-content;
    background-color: #242424;
    padding: 0.5rem;
    border-radius: .8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

button {
    outline: unset;
    border: unset;
    background: unset;
}

a {
    text-decoration: none;
    color: inherit;
}